Public Class Form1

    Private Sub Button1_Click(sender As Object, e As EventArgs) Handles Button1.Click
        Const tax_rate As Double = 0.08

        Dim subtotal As Double
        Dim tax As Double
        Dim total As Double
        subtotal = costofsandwich() + costofadd() + drinkcost()
        lstTotal.Items.Add("SUBTOTAL =  " & subtotal.ToString("C"))

        tax = subtotal * tax_rate
        lstTotal.Items.Add("TAX =  " & tax.ToString("C"))


        total = subtotal + tax
        lstTotal.Items.Add("TOTAL =  " & total.ToString("C"))



    End Sub

    Private Function costofsandwich() As Double

        Dim subtotalsand As Double
        Dim itemchoosen As String


        If SandBurger.Checked Then
            subtotalsand = 2.75
            itemchoosen = subtotalsand.ToString("C") & "-     Burger"

            lstOrderReceipt.Items.Add(itemchoosen)


        ElseIf SandChickenBurger.Checked Then
            subtotalsand = 2.5
            itemchoosen = subtotalsand.ToString("C") & "-    chicken Sandwich"

            lstOrderReceipt.Items.Add(itemchoosen)



        ElseIf SandFichburger.Checked Then
            subtotalsand = 3.25
            itemchoosen = subtotalsand.ToString("C") & "-    Fich Sandwich "

            lstOrderReceipt.Items.Add(itemchoosen)

        End If

        Return subtotalsand

    End Function

    Private Function costofadd() As Double

        Dim subtotaladd As Double
        Dim itemchoosen As String


        If Tomato.Checked Then
            subtotaladd += 0.15
            itemchoosen = 0.15.ToString("C") & "-    Tomato"


            lstOrderReceipt.Items.Add(itemchoosen)

        End If
        If Cheese.Checked Then
            subtotaladd += 0.1
            itemchoosen = 0.1.ToString("C") & "-    Chesse"


            lstOrderReceipt.Items.Add(itemchoosen)

        End If
        If Fries.Checked Then
            subtotaladd += 1.3
            itemchoosen = 1.3.ToString("C") & "-    Fries"

            lstOrderReceipt.Items.Add(itemchoosen)

        End If
        If OnionRing.Checked Then
            subtotaladd += 2.3
            itemchoosen = 2.3.ToString("C") & "-    OnionRings"

            lstOrderReceipt.Items.Add(itemchoosen)


        End If

        Return subtotaladd

    End Function

    Private Function drinkcost() As Double

        Dim subtotaldrink As Double
        Dim itemchoosen As String

        If Pepsi.Checked Then
            subtotaldrink = 1.75
            itemchoosen = subtotaldrink.ToString("C") & "-      Pepsi"


            lstOrderReceipt.Items.Add(itemchoosen)


        ElseIf SevenUp.Checked Then
            subtotaldrink = 1.75
            itemchoosen = subtotaldrink.ToString("C") & "-     SevenUp"


            lstOrderReceipt.Items.Add(itemchoosen)


        ElseIf MirandaOrange.Checked Then
            subtotaldrink = 1.75
            itemchoosen = subtotaldrink.ToString("C") & "-     MirandaOrange"


            lstOrderReceipt.Items.Add(itemchoosen)

        End If


        Return subtotaldrink



    End Function

    Private Sub Button2_Click(sender As Object, e As EventArgs) Handles Button2.Click
        lstOrderReceipt.Items.Clear()
        lstTotal.Items.Clear()
        NoneSAndwich.Checked = True
        NoneDrink.Checked = True
        Cheese.Checked = False
        Tomato.Checked = False
        Fries.Checked = False
        OnionRing.Checked = False

    End Sub
    Private Sub Button3_Click(sender As Object, e As EventArgs) Handles Button3.Click
        Me.Close()

    End Sub
End Class
